/* 通用設定 */
html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 主容器 */
.main-container {
    width: 80vw;
    margin: 5vh auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 1vh;
    padding: 2vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h2 {
    font-size: 1.2em;
}

/* 盲注資訊區 */
.blinds-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2vh;
}

.blinds-info input {
    flex: 1;
    margin-right: 0.5vw;
}

.blinds-info h2 {
    width: 100%;
}

/* Hero 資訊區 */
.hero-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2vh;
}

.hero-info select,
.hero-info input {
    flex: 1;
    margin-right: 0.5vw;
}

.hero-info input.input-hero-stack {
    flex: 2;
    margin-right: 0; /* 確保對齊 */
}

.hero-info h2 {
    width: 100%;
}

/* 公共輸入框樣式 */
.input-blinds, .input-position, .input-card, .input-suit, .input-amount, .input-hero-stack {
    padding: 0.5vh;
    margin-right: 0.5vw;
}

.input-blinds {
    width: 15vw;
}

.input-position, .input-hero-stack {
    width: 16vw;
}

.input-card, .input-suit {
    width: 10vw;
}

.input-amount {
    width: 20vw;
}

/* 輸出區 */
.section-output {
    text-align: center;
    margin-top: 2vh; /* 添加一些間距 */
    padding-bottom: 2vh; /* 增加一些底部間距 */
}

#output-text, #flash-message {
    width: 95%;
    padding: 1vh;
    margin-bottom: 1vh;
}

#output-text {
    height: 16vh;
    resize: none;
}

#btn-copy {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5vh;
    padding: 1vh 2vw;
    cursor: pointer;
}

#flash-message {
    display: none;
    color: #28a745;
    font-size: 1.5em;
    margin-top: 1vh;
}

/* 遊戲階段區 */
.stage {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0.5vh;
    padding: 1vh;
    margin-bottom: 1vh;
}

/* 按鈕樣式 */
.btn-add-action, .btn-add-opponent {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10vh;
    padding: 0.1vh 1vw;
    cursor: pointer;
    margin-top: 0.5vh;
}

/* 動作和對手容器 */
.container-actions, .container-opponents {
    margin-top: 1vh;
}

.action {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.delete-action {
    flex: 0 0 auto;
    margin-left: 1vw;
    background: none;
    border: none;
    color: rgba(255, 0, 0, 0.647);
    font-weight: bold;
    cursor: pointer;
}

/* 底部區域 */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5vh 0;
    width: 100%;
    box-sizing: border-box;
}

.footer-bottom {
    font-size: 0.9em;
    padding: 1vh 0;
}

.footer-bottom a {
    color: #00bfff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}