html, body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.main-container {
    width: 80vw;
    height: auto;
    margin: 5vh auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 1vh;
    padding: 2vh;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 40px);
    position: relative;
    padding-bottom: 40px;
}

h2 {
    font-size: 1.2em;
}

.blinds-info, .hero-info, .section-opponents, .section-gameplay {
    margin-bottom: 2vh;
}

.input-blinds, .input-position, .input-card, .input-suit, .input-amount, .input-hero-stack {
    padding: 0.5vh;
    margin-right: 0.5vw;
}

.input-blinds {
    width: 15vw;
}

.input-position, .input-hero-stack {
    width: 16vw;
}

.input-card, .input-suit {
    width: 10vw;
}

.input-amount {
    width: 20vw;
}

.section-output {
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

#output-text, #flash-message {
    width: 95%;
    padding: 1vh;
    margin-bottom: 1vh;
}

#output-text {
    height: 16vh;
    resize: none;
}

#btn-copy {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.5vh;
    padding: 1vh 2vw;
    cursor: pointer;
}

#flash-message {
    display: none;
    color: #28a745;
    font-size: 1.5em;
    margin-top: 1vh;
}

.stage {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 0.5vh;
    padding: 1vh;
    margin-bottom: 1vh;
}

.btn-add-action, .btn-add-opponent {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10vh;
    padding: 0.1vh 1vw;
    cursor: pointer;
    margin-top: 0.5vh;
}

.container-actions, .container-opponents {
    margin-top: 1vh;
}

.action {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-wrap: nowrap; 
}

.delete-action {
    flex: 0 0 auto;
    margin-left: 1vw;
    background: none;
    border: none;
    color: rgba(255, 0, 0, 0.647);
    font-weight: bold;
    cursor: pointer;
}
